.talking-gmail-text {
  -webkit-transition: color .3s ease-in-out;
}

.talking-gmail-reading {
  color: #888;
}

.talking-gmail-highlight {
  color: #000;
}

#talking-gmail-controller {
  position: absolute;
  top: 0;
  right: 390px;
}
